*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    width: 100;
    height: 100;
}
body{
    
}
.Login_container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    width: 40%;
    transform: translate(70%,90%);
    gap: 5%;
    border-radius: 4%;
    padding:2%;
    box-shadow: 0px 0px 20px purple;
}
.Login_form{
    margin: 10%;
}
.Login_btn{
    margin-left: 30%;
    margin-top: 10%;
    width: 80%;
    border: none;
    background-color: plum;
    padding: 2%;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px plum;
}
.Login_img{
    border-radius: 50%;
    margin-left: -10%;
}
.Login_form input{
    border: 0px;
    border-bottom: 1px solid purple;
    width: 150%;
    outline: none;
}

@media (min-width:320px) and (max-width:430px) {
    .Login_container{
        transform: translate(60%,80%);
        gap: 0;
        width: 50%;
    }
    .Login_img{
        width: 80%;
        height: 50%;
    }
    .Login_form input{
        width: 100%;
    }
    .Login_btn{
        margin-left: 10%;
        margin-bottom: 5%;
        width: 80%;
    }
}